version: '2'

services:
  zookeeper:
    image: 'public.ecr.aws/bitnami/zookeeper:latest'
    ports:
      - '2181:2182'
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes

  kafka:
    image: 'public.ecr.aws/bitnami/kafka:2.8'
    ports:
      - '9092:9092'
    links:
      - zookeeper
    container_name: local_kafka
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
      - ALLOW_PLAINTEXT_LISTENER=yes
