name: MavenCI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  release:
    branches: [ master ]
    types: [ created ]

jobs:
  build:
    runs-on: ${{ matrix.operating-system }}
    continue-on-error: false
    timeout-minutes: 60
    strategy:
      max-parallel: 5
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest, windows-latest, macos-latest]
        java-version: ['8', '11', '17', '21']

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK ${{ matrix.java-version }}
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java-version }}

    - name: Cache Maven packages
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Clean, build and install
      run: mvn --file pom.xml clean install

    - name: Build package
      run: mvn -B package --file pom.xml
